
/* COLOR PALETTE
TAN: #d5a687;
ORANGE: #c6704e;
PINK: #cea798;
RED: #bd593e;
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}
